:root {
    --mainEng-font: "Montserrat";
    --mainKor-font: "nanumSquareNeo";
    --mainNum-font: "gmarket";
    --mainTit-font: "overpass";

    --mainBg-color: #0f2a53;
    --mainfont-color: #ff6765;
    --subBg100: #f5f5f5;
    --subBg200: #bebebe;
    --subBg300: #fefaee;
    --subBg400: #383838;
    --subBg500: #afafaf;

    --white: #ffffff;
    --white100: #e8e8e8;
    --white200: #dddddd;
    --white300: #c1c1c1;
    --white400: #b3b3b3;
    --white500: #a4a4a4;

    --black: #000000;
    --black100: #000000;
    --black200: #000000;
    --black300: #000000;
    --black400: #000000;
    --black500: #000000;

    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}


@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}